TELEGRAM_TOKEN=your_telegram_bot_token
MONGO_URI=mongodb+srv://username:password@cluster0.mongodb.net/?retryWrites=true&w=majority
GOOGLE_BOOKS_API_KEY=your_google_books_api_key
CHANNEL_ID=-1001234567890
