TELEGRAM_TOKEN=your_telegram_bot_token
MONGO_URI=mongodb+srv://username:password@cluster0.mongodb.net/?retryWrites=true&w=majority
GOOGLE_BOOKS_API_KEY=your_google_books_api_key
CHANNEL_ID=-1001234567890

# Per l'importazione dello storico (Client API da my.telegram.org)
API_ID=your_api_id
API_HASH=your_api_hash
